{% extends 'base.html' %}
{% block content %}
{% load bootstrap_icons %}

<div class="container">

    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
  <div class="row">
    <div class="col">

      <input type="text" class="form-control" placeholder="Enter Task" name="task">
    </div>
    <div class="col">
      <input type="date" value="{% now "d-m-y" %}" class="form-control" placeholder="Date" name="date">
    </div>
    <div class="col">
      <button type="submit" class="btn btn-primary mb-2" formaction="save">Insert Task</button>
    </div>
    </form>
  </div>
      <div class="row">
        <p>Total active tasks({{task.object_list.count}})</p>

        {% for i in task.object_list %}

  <div class="col-xl-6 col-sm-12 p-1">
    <div class="card shadow-sm">
      <div class="card-body">
        <h5 class="card-title">{{i.Task}}</h5>
        <p class="card-text">{{i.Date}}</p>
        <a href="{% url 'update' i.id %}" class="btn btn-primary">Mark as Complete</a>
        <a href="edit" class="btn btn-warning">Edit</a>
        <a href="{% url 'delete_update' i.id %}" class="btn btn-danger">Delete</a>

      </div>
    </div>
  </div>
        {% endfor %}
<div class="mx-auto mt-2">

    {% for ts in task.paginator.page_range %}

    <a href="?page={{ts}}" class="btn btn-primary btn-sm" {% if task.number == ts %} activate {% endif %}>{{ts}}</a>
    {% endfor %}
  </div>
</div>


  </div>

</div>
{% endblock %}